@mixin FlexBox($justify: center, $align: normal, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin FontStyles($size, $color, $weight) {
  font-size: $size;
  color: $color
  font-weight: $weight;
}
